<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <main >
        <section>
            <article>
                <img src="" alt="">
                <p>Thankyou for the Feedback/comments. I really appreciate for your feedback/comments.</p>
                <button><a href="{% url 'homee' %}">Back</a></button>
            </article>
        </section><br><hr>

        <section>
            <article>
                <h2>Django rest_framework CRUD operations...LINK BELOW....</h2><br>
                <p><a href="{% url 'end' %}">DRF_endpoints</a>
                // url path the crud actions appear on.</p> <br>
                <p><a href="{% url 'comments' %}">DRF_Portfolio_comments</a>
                // List of comments that are posted.</p>
                
            </article>
        </section>
    </main>
</body>
</html>